@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
  
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  width: 250px;
  height: 250px;
  position: relative;
  -moz-user-select: none;
  user-select: none;
  background-color: #FFFFFFFF;
}

header {
  padding: 10px;
  display: flex;
  justify-content:center;
}

header img {
  height: 50px;
  margin-right: 10px;
}

h1.title {
  color: #35373A;
  font-size: 15px;
  font-weight: 800;
}

p.subtitle {
  color: #676767;
  font-size: 10px;
  font-weight: 400;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFFFFF !important;
  width: 100%;
  height: 30px;
  font-weight: 400;
  background-color: #191919;
  font-size: 10px;
  text-align: center;
  line-height: 30px;
}

footer a {
  font-weight: 800;
  color: #FFFFFF !important;
  text-decoration: none !important;
}
